* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}


#div-container {
    display: flex;
    flex-direction: row;
}

#div-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 90%;
    border-color: rgba(0, 22, 22, 0.4);
    border-right: solid;
    overflow: auto;
    overflow-x: hidden;


}

#div-main {
    position: absolute;
    margin-left: 330px;
    padding: 10px;
    margin-bottom: 110px;
   
}

code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    color:darkolivegreen;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer;
    border-bottom: solid;
    font-size: 120%;
}

#header-tittle {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
}

#nav-select {
    display: none;
}



#header-tittle-2 {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    width: 100%;
    display: none;

}

@media (max-width: 600px) {


    #div-navbar {
        display: none;
}
    #div-main {
        position: absolute;
        margin: 100px auto 110px auto;
        padding: 10px;
    
}

#header-tittle-2 {
    display: block;
    color: black;
    margin: auto;
    text-align: center;
    font-size: 1.8em;
    position: fixed;
    top: 0px;
    z-index: 10;
    background-color:#696e72;
}

#nav-select {
    display: block;
    margin: auto;
    position: fixed;
    top: 43px;
    z-index: 10;
    background-color:#696e72;
    cursor: pointer;
    width:90%;
    border-top: solid 3px white;
}

#div-header {
    background-color: aqua !important;
    width: 100%;
}



}